.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    gap: 150px;
    width: 1600px;
    height: 650px;
    background-color: #f1ff66;

}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.specifications {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    height: 100%;
}

.specification {
    width: 250px;
    margin: 1rem;
    padding: 1rem;
}

.hero-heading {
    
    font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 92px;
    line-height: 110%;
    letter-spacing: -3%;
    
}

.border-first {
    position: absolute;
    width: 220px;
    height: 0px;
    top: 769px;
    left: 90px;
    border: 0.5px solid #242424;
    box-sizing: border-box;
}

.hero-subheading {

    font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
   
    margin-top: 1rem;
    color: #242424;
    align-items: center;
    width: 70%;
}

.specification-heading {
    font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;

}

.specification-heading.first{
    position: absolute;
    width: 250px;
    height: 34px;
    top: 789px;
    left: 90px;
}

.specification-heading.second{
    position: absolute;
    width: 250px;
    height: 34px;
    top: 789px;
    left: 450px;
}

.specification-heading.third{
    position: absolute;
    width: 250px;
    height: 34px;
    top: 789px;
    left: 810px;
}
.specification-heading.forth{
    position: absolute;
    width: 250px;
    height: 34px;
    top: 789px;
    left: 1170px;
}

.specification-description {
    font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;

} 

.specification-description.first{
    position: absolute;
    width: 250px;
    height: 34px;
    top: 799px;
    left: 90px;
}

.specification-description.second{
    position: absolute;
    width: 250px;
    height: 34px;
    top: 799px;
    left: 450px;
}
.specification-description.third{
    position: absolute;
    width: 250px;
    height: 34px;
    top: 799px;
    left: 810px;
}
.specification-description.forth{
    position: absolute;
    width: 250px;
    height: 34px;
    top: 799px;
    left: 1170px;
}

.border-second {
    position: absolute;
    width: 220px;
    height: 0px;
    top: 769px;
    left: 450px;
    border: 0.5px solid #242424;
    box-sizing: border-box;
}

.border-third {
    position: absolute;
    width: 220px;
    height: 0px;
    top: 769px;
    left: 810px;
    border: 0.5px solid #242424;
    box-sizing: border-box;
}

.border-forth {
    position: absolute;
    width: 220px;
    height: 0px;
    top: 769px;
    left: 1170px;
    border: 0.5px solid #242424;
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4rem 2rem;
        gap: 150px;
        width: 100%;
        background-color: #f1ff66;

    }

    .hero-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        object-fit: contain;
    }

    .specifications {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;
        height: 100%;
    }

    .specification {
        width: 250px;
        margin: 1rem;
        padding: 1rem;
    }

    .hero-heading {
        
        font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 50px;
        line-height: 110%;
        letter-spacing: -3%;
        width: 70%;
        text-align: left;
        
    }

    .hero-subheading {

        font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
        font-weight: 400;
        font-style: regular;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: 0%;

    
        margin-top: 1rem;
        color: #242424;
        width: 70%;
        height: fit-content;

        text-align: left;
    }

    .specifications {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;
        height: 100%;
    }

    .specification-heading {
        font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-wrap: wrap;

    }

    .specification-description {
        font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        line-height: 150%;
        letter-spacing: 0%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-wrap: wrap;

    } 

    .border-first {
        
        border: 0.5px solid #242424;
        box-sizing: border-box;
    }

    .border-second {
        
        border: 0.5px solid #242424;
        box-sizing: border-box;
    }

    .border-third {
       
        border: 0.5px solid #242424;
        box-sizing: border-box;
    }

    .border-forth {
        
        border: 0.5px solid #242424;
        box-sizing: border-box;
    }
}